/* CÓDIGO CSS */

* {
    margin: 0;
    padding: 0;
  }
  
  body {
    background: #bebeba;
    color: #050505;
    font-family: "Roboto", sans-serif;
  }
  
  .contenedor {
    max-width: 1000px;
    margin: 20px auto;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, auto);
    grid-template-areas:
      "nav nav nav"
      "contenido contenido sidebar"
      "bloque1 bloque1 bloque2 "
      "footer footer footer";
  }
  
  .contenido {
    background: #a6a6be;
    padding: 20px;
    border-radius: 5px;
  }
  
  nav {
    background: #d6eaeb;
    color: #0c0a0a;
    grid-area: nav;
    padding: 20px;
    border-radius: 5px;
  }
  
  .contenido {
    grid-area: contenido;
  }
  
  .sidebar {
    grid-area: sidebar;
    background: #2f2f42;
    display: flex;
    flex-direction: column;
    justify-content: top; 
    align-items: center; 
    padding: 20px;
    border-radius: 12px; 
  }
  
  .bloque {
    color: #050505;
    text-align: left;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    padding: 20px;
  }
  
  #bloque1 {
    grid-area: bloque1;
    background: #f0e1e1;
  }
  
  #bloque2 {
    grid-area: bloque2;
    background: #f0e1e1;
  }
  
  footer {
    background: #4a4d50;
    color: #050505;
    grid-area: footer;
    padding: 20px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  @media screen and (max-width: 768px) {
    .contenedor {
      grid-template-areas:
        "nav nav nav"
        "contenido contenido contenido"
        "sidebar sidebar sidebar"
        "bloque1 bloque1 bloque1"
        "bloque2 bloque2 bloque2"
        "footer footer footer";
    }
  }
  img  {
    height: 300px;
    width: auto;
}
#imagen-perfil {
    height: 100px;
    border: #edf2f8 2px solid;
}
  footer {
    background-color: rgb(180, 126, 134);
    color: #050505;
    grid-area: footer;
    padding: 20px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;

    @media screen and (max-width: 768px) {
        .contenedor {
          grid-template-areas:
            "nav nav nav"
            "contenido contenido contenido"
            "sidebar sidebar sidebar"
            "bloque1 bloque1 bloque1"
            "bloque2 bloque2 bloque2"
            "footer footer footer";
        }
      }

  }